.footer {
    background-color: $footerColor;
    min-height: 10vh;

    &__body {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        min-height: inherit;
        padding: 0 15px;

        &-social > a{
            width: 125px;
            margin-bottom: 0;
            background: transparent;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            padding: 5px 10px;
        }
    }

    &__text {
        color: $textTitleColor;
        text-transform: uppercase;
        @include fontFamilyAg;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 769px) {
    .footer__body {
        flex-direction: column;
    }

    .footer__text {
        text-align: center;
        padding: 15px 0;
    }

    .footer__body-social {
        margin: auto;
    }

    .footer__body-social > a {
        margin-bottom: 10px;
        display: block;
    }
}